<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <p>
    <img src="https://public-oshiire.s3-ap-northeast-1.amazonaws.com/404_2.jpg" />
  </p>

</body>
</html>
